    <div class="navbar navbar-dark bg-dark">
        <div class="navbar-brand align-item-center d-flex">
            <img src="../assets/Images/flogo3.png" style="width:50%; height:45px; max-width:145px;"/>
            <i style="font-size: 0px;" class="">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">HalfPay</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>

  
                    <ul class="navbar-nav">
     
                        <li><button *ngIf="!loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Login</button></li>
                        <li><button *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</button></li>
                      
                      </ul>

        </div>
      

        
    </div>
