.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 41%;
    top: 20px;
    color:white;
}
.login-button {
    border: 2px solid #dedede;
    margin-right: 8px;
    padding: 6px 20px !important;
  }

  
@media (max-width: 400px) {
  .login-button {
    display: inline-block;
    padding: 6px 45px !important;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .login-button {
    display: inline-block;
    padding: 6px 45px !important;
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .login-button {
    display: inline-block;
    padding: 6px 45px !important;
    margin: 5px 0;
  }
}

@media (max-width: 992px) {
  .login-button {
    display: inline-block;
    padding: 6px 45px !important;
    margin: 5px 0;
  }
}

