.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 41%;
    top: 20px;
    color:white;
}
.nav-link {
    position:relative;
    z-index:10;
    right: -450px;
    top: 1px;
    color:rgb(44, 9, 241);
} 
