<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="../assets/Images/pic.jpg" alt="">
                <h6>All products</h6>
                
            </a>
        </div>
        <div class="item" routerLink="/search">
            <a (click)="filter('House')">
                <img src="../assets/Images/house.jpg" alt="">
                <h6>House</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Automobiles')">
                <img src="../assets/Images/automobiles.jpg" alt="">
                <h6>Automobiles</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Furniture')">
                <img src="../assets/Images/furniture.jpg" alt="">
                <h6>Furniture</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Electronics')">
                <img src="../assets/Images/electronics.jpg" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <button routerLink="/cart" class="btn btn-primary" id="Cart">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
        
    </div>
    
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>