<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="../assets/Images/pic.jpg" alt="">
                <h6>All products</h6>
                
            </a>
        </div>
        <div class="item" routerLink="/search">
            <a (click)="filter('House')">
                <img src="../assets/Images/house.jpg" alt="">
                <h6>House</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Automobiles')">
                <img src="../assets/Images/automobiles.jpg" alt="">
                <h6>Automobiles</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Furniture')">
                <img src="../assets/Images/furniture.jpg" alt="">
                <h6>Furniture</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Electronics')">
                <img src="../assets/Images/electronics.jpg" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <button routerLink="/cart" class="btn btn-primary" id="Cart">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
        
    </div>
    
</div>


<body class="body-wrapper">
    
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light navigation">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/2.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto main-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Dashboard<span><i class="fa fa-angle-down"></i></span>
                                    </a>
    
                                    <!-- Dropdown list -->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                                        <a class="dropdown-item" href="dashboard-my-ads.html">Dashboard My Ads</a>
                                        <a class="dropdown-item" href="dashboard-favourite-ads.html">Dashboard Favourite Ads</a>
                                        <a class="dropdown-item" href="dashboard-archived-ads.html">Dashboard Archived Ads</a>
                                        <a class="dropdown-item" href="dashboard-pending-ads.html">Dashboard Pending Ads</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages <span><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <!-- Dropdown list -->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="about-us.html">About Us</a>
                                        <a class="dropdown-item" href="contact-us.html">Contact Us</a>
                                        <a class="dropdown-item" href="user-profile.html">User Profile</a>
                                        <a class="dropdown-item" href="404.html">404 Page</a>
                                        <a class="dropdown-item" href="package.html">Package</a>
                                        <a class="dropdown-item" href="single.html">Single Page</a>
                                        <a class="dropdown-item" href="store.html">Store Single</a>
                                        <a class="dropdown-item" href="single-blog.html">Single Post</a>
                                        <a class="dropdown-item" href="blog.html">Blog</a>
    
                                    </div>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Listing <span><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <!-- Dropdown list -->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="category.html">Ad-Gird View</a>
                                        <a class="dropdown-item" href="ad-listing-list.html">Ad-List View</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto mt-10">
                                <li class="nav-item">
                                    <a class="nav-link login-button" href="login.html">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white add-button" href="ad-listing.html"><i class="fa fa-plus-circle"></i> Add Listing</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    
    <!--===============================
    =            Hero Area            =
    ================================-->
    
    <section class="hero-area bg-1 text-center overly" style="background-image: url(../assets/Images/hero.jpg); 
    background-repeat: no-repeat;background-size: cover;">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Header Contetnt -->
                    <div class="content-block">
                        <h1>All you want in One Go </h1>
                        <p>Join the millions who buy and sell from each other <br> everyday in local communities around the world</p>
                        <div class="short-popular-category-list text-center">
                            <h2>Popular Category</h2>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-home"></i> House</a></li>
                                <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-bed"></i> Furniture</a>
                                </li>
                            <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-laptop"></i> Electronic Appliances</a>
                                </li>
                            <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-car"></i> Automobiles</a>
                            </li>
    
    <!--							
                                <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-music"></i> Musical Instruments</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-star"></i> Others</a>-->
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- Advance Search -->
                    <div class="advance-search" >
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 align-content-center">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <input type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="What are you looking for">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <select class="w-100 form-control mt-lg-1 mt-md-2">
                                                            <option>Category</option>
                                                            <!-- <option value="1">Top rated</option> -->
                                                            <!-- <option value="2">Lowest Price</option> -->
                                                            <!-- <option value="4">Highest Price</option> -->
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Location">
                                                    </div>
                                                    <div class="form-group col-md-2 align-self-center">
                                                        <button type="submit" class="btn btn-primary">Search Now</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    
    <!--===================================
    =            Client Slider            =
    ====================================-->
    
   






<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>